@model Hospital

@if (Model != null){
    <form method="post">
        <label>Id</label>
        <input type="text" name="idhospital" value="@Model.IdHospital"
               class="form-control" readonly />
        <label>Nombre</label>
        <input type="text" name="nombre" value="@Model.Nombre"
               class="form-control" />
        <label>Dirección</label>
        <input type="text" name="direccion" value="@Model.Direccion"
               class="form-control" />
        <label>Teléfono</label>
        <input type="text" name="telefono" value="@Model.Telefono"
               class="form-control" />
        <label>Camas</label>
        <input type="text" name="camas" value="@Model.Camas"
               class="form-control" />
        <button class="btn btn-warning">Update</button>
    </form>
}


<h2 style="color:fuchsia">
    @ViewData["MENSAJE"]
</h2>