@model List<Hospital>

<h1>Hospitales Ado Net</h1>

<a asp-controller="Hospitales"
asp-action="Create">New Hospital</a>
<br/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hospital hospital in Model)
        {
            <tr>
                <td>@hospital.Nombre</td>
                <td>@hospital.Direccion</td>
                <td>@hospital.Telefono</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Hospitales"
                    , new { id = hospital.IdHospital }
                    , new { @class = "btn btn-success"  })
                    @Html.ActionLink("Update", "Edit", "Hospitales"
                    , new { id = @hospital.IdHospital}
                    , new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", "Hospitales"
                             , new { id = @hospital.IdHospital }
                             , new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>