@model List<Hospital>

<h1>Hospitales Ado Net</h1>

<a asp-controller="Hospitales"
asp-action="Create">New Hospital</a>
<br/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hospital hospital in Model)
        {
            <tr>
                <td>@hospital.Nombre</td>
                <td>@hospital.Direccion</td>
                <td>@hospital.Telefono</td>
                <td>
                    <a asp-controller="Hospitales"
                        asp-action="Details"
                        class="btn btn-success"
                        asp-route-id="@hospital.IdHospital">
                        Details
                    </a>
                    <a asp-controller="Hospitales"
                       asp-action="Update"
                       class="btn btn-info"
                       asp-route-id="@hospital.IdHospital">
                        Update
                    </a>
                    <a asp-controller="Hospitales"
                       asp-action="Delete"
                       class="btn btn-danger"
                       asp-route-id="@hospital.IdHospital">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>